#header-container { 
    border: 1px solid red;
    /*as i said previously i had to consider that i need a row and
    my width have to be the 100% of mi viewport*/
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 25px;
    font-family: sans-serif;
    flex-direction: row;
    
}

#nav-bar {
    display: flex; /*e i think is useless cause i already set this property on header container */
    flex-direction: row;
    overflow: visible;
}

#wrapper {
    border: 1px solid black;
    display: flex;
    width: 100%;
    overflow: auto;
    left: 0px;
    top: 0px;
    font-size: 20px;
    font-family: sans-serif;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    height: 400px;
}


#logo {
    background-color: white;
}



.nav-link {
    float: left;
    padding: 10px 12px;
    color: black;
    text-decoration: none;
    text-align: center;
}

.list-style {
    /*e In the previous I added to no avail display:flex */
    list-style: none;
    margin-left: 20px;
}